#bg_image {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: -10;
  margin: 0;
  padding: 0;
  animation: kenburns-left 5s ease-out infinite alternate-reverse both;
}

@-webkit-keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }

  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}

@keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }

  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}



.img-border {
  width: 800px;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  /* opacity: 30%; */
  margin-left: 550px;
  margin-top: 250px;
  text-align: center;
  /* box-shadow: 10px 10px  20px rgba(0, 0,0, 0.3); */
}

.img-border>h2 {
  color: rgb(255, 255, 255);
  margin: 30px 40px 40px 0;
  font-size: 40px;
}

/* .type{
    margin-left:  600px; 
    margin-top: -450px;
    display: block;
    width: 50%;
    position: relative;
    transform: translateY(-50%);
} */
.inputbox1 {
  width: 230px;
  padding: 5px;
  border: 1px solid #b1b1b1;
  /* border-radius: 5px; */
  margin: 0 0 2rem;
  background: url(https://img.icons8.com/?size=512&id=34105&format=png);
  background-repeat: no-repeat;
  background-size: 23px;
  padding-left: 23px;
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
}

.inputbox2 {
  width: 230px;
  padding: 5px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  margin: 0 0 0.6rem 272px;
  background: url(https://img.icons8.com/?size=512&id=3312&format=png);
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 23px;
  color: #000000;
  background-color: #ffffff;
  display: block;
  font-size: 14px;
}

h2 {
  color: black;
}

.checkbox {
  display: inline;
  color: #ffffff;
  margin-right: 150px;
  font-size: 11px;
}

.btn-log {
  width: 260px;
  height: 35px;
  background-color: dodgerblue;
  color: #ffffff;
  display: block;
  margin: 20px 0 0 272px;
  /* border-radius: 10px; */
  font-size: 16px;
  border-color: dodgerblue;
  text-align: center;
}

.text {
  display: inline;
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 25px;
}

.com-img {
  width: 30px;
  height: 30px;
}

.communication {
  color: #ffffff;
}